In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CoffeeChain-SimplifiedData.csv')

In [3]:
# First five rows of the datat set.
df.head()

,Product Id,Product Type,Product,Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00

In [4]:
# Last five rowsof the data set by default
df.tail()

,Product Id,Product Type,Product,Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [5]:
# How many rows and columns?
df.shape

(4248, 14)

In [6]:
# What columns do we have?
df.columns

Index(['Product Id', 'Product Type', 'Product', 'Type', 'Market Size',
       'Market', 'State', 'Budget Sales', 'Budget Profit', 'Cogs', 'Profit',
       'Sales', 'Total Expenses', 'Date'],
      dtype='object')

In [7]:
# Rename Type to Coffee Type
df.rename(columns = {'Type': 'Coffee Type'}, inplace = True)

In [8]:
df.rename(columns ={'Date': 'Date Time'}, inplace = True)

In [9]:
df.head()

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00

In [10]:
# Select the coffee type column
df['Coffee Type']

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [11]:
# Index to see al rows and columns 
df.iloc[:, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [12]:
# Lets see the first and last five  
df.iloc[:,3]

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [13]:
# This is the same as df.iloc
df['Coffee Type']

0       Regular
1       Regular
2         Decaf
3       Regular
4       Regular
         ...
4243    Regular
4244    Regular
4245      Decaf
4246    Regular
4247      Decaf
Name: Coffee Type, Length: 4248, dtype: object

In [14]:
# The first three rows and columns
df.iloc[:3, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00

In [15]:
# The last five rows in the dataset. Can also use df.tail()
df.iloc[-5:, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [16]:
# First row of the coffee type column
df.loc[0, 'Coffee Type']

'Regular'

In [17]:
# First five rows of the product type, product, coffee type, market size, market, state and profit
df.loc[:4, ['Product Type', 'Product', 'Coffee Type', 'Market Size', 'Market', 'State', 'Profit']]

,Product Type,Product,Coffee Type,Market Size,Market,State,Profit
0,Coffee,Amaretto,Regular,Major Market,Central,Colorado,94
1,Coffee,Columbian,Regular,Major Market,Central,Colorado,68
2,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,101
3,Tea,Green Tea,Regular,Major Market,Central,Colorado,30
4,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,54

In [18]:
# Using conditional selection select the rows with total expenses 50
df.loc[df['Total Expenses'] == 50, :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
35,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,88,-39,99,50,01/01/10 0:00
106,3,Coffee,Decaf Irish Cream,Decaf,Small Market,South,New Mexico,120,-30,88,-39,99,50,01/01/10 0:00
111,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,84,66,200,50,01/01/10 0:00
212,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,84,-32,102,50,01/02/10 0:00
284,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,86,70,206,50,01/02/10 0:00
389,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,90,-10,88,-32,106,50,01/03/10 0:00
481,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,90,-20,88,-32,106,50,01/03/10 0:00
1234,2,Coffee,Columbian,Regular,Small Market,West,Washington,260,120,86,75,211,50,01/07/10 0:00
1419,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,80,10,45,7,102,50,01/09/10 0:00
1431,12,Tea,Earl Grey,Regular,Major Market,Central,Illinois,130,40,60,40,150,50,01/09/10 0:00
1500,2,Coffee,Columbian,Regular,Small Market,East,New Hampshire,130,50,55,34,139,50,01/09/10 0:00
1517,2,Coffee,Columbian,Regular,Small Market,South,New Mexico,170,70,55,34,139,50,01/09/10 0:00
1540,9,Herbal Tea,Lemon,Decaf,Small Market,West,Utah,120,50,55,34,139,50,01/09/10 0:00
1716,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,80,0,86,-27,109,50,01/10/10 0:00
2021,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,7,103,50,01/12/10 0:00
2331,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,80,-20,84,-47,109,50,01/02/11 0:00
2412,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,170,70,86,104,220,50,01/02/11 0:00
2508,9,Herbal Tea,Lemon,Decaf,Small Market,Central,Missouri,90,-10,88,-47,113,50,01/03/11 0:00
2601,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,90,-20,88,-47,113,50,01/03/11 0:00
2875,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Ohio,130,20,53,15,117,50,01/05/11 0:00
2993,4,Espresso,Caffe Latte,Regular,Small Market,West,Oregon,110,20,53,15,117,50,01/05/11 0:00
3543,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,80,10,45,10,109,50,01/09/11 0:00
3555,12,Tea,Earl Grey,Regular,Major Market,Central,Illinois,130,40,60,59,160,50,01/09/11 0:00
3624,2,Coffee,Columbian,Regular,Small Market,East,New Hampshire,130,50,55,50,148,50,01/09/11 0:00
3642,2,Coffee,Columbian,Regular,Small Market,South,New Mexico,170,70,55,50,148,50,01/09/11 0:00
3665,9,Herbal Tea,Lemon,Decaf,Small Market,West,Utah,120,50,55,50,148,50,01/09/11 0:00
3843,10,Herbal Tea,Mint,Decaf,Small Market,West,Utah,80,0,86,-40,116,50,01/10/11 0:00
4143,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,10,110,50,01/12/11 0:00

In [19]:
# Select rows with total expenses 50 and state massachusetts
df.loc[(df['Total Expenses'] == 50) & (df['State'] == 'Massachusetts'),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
2021,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,7,103,50,01/12/10 0:00
4143,9,Herbal Tea,Lemon,Decaf,Major Market,East,Massachusetts,70,10,46,10,110,50,01/12/11 0:00

In [20]:
# Select rows with total expenses 50 or has profit  greater than or equal to 10
df.loc[(df['Total Expenses'] == 50) | (df['Profit'] >= 10),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00
4246,2,Coffee,Columbian,Regular,Small Market,West,Washington,200,80,72,86,188,46,01/12/11 0:00
4247,3,Coffee,Decaf Irish Cream,Decaf,Small Market,West,Washington,290,50,105,30,266,125,01/12/11 0:00

In [63]:
# df.loc[df['column'].isnull(),:] can be used to select all rows with null values from a given column
# .value_counts(dropna = False) can be used to drop  roes that contain null values

In [22]:
# Select all rows with darjeeling or green tea in the product column
df.loc[df['Product'].isin(['Darjeeling', 'Green Tea']),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
9,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,110,20,58,17,130,55,01/01/10 0:00
18,11,Tea,Darjeeling,Regular,Major Market,Central,Illinois,110,50,54,53,134,27,01/01/10 0:00
27,11,Tea,Darjeeling,Regular,Small Market,Central,Iowa,400,140,228,141,456,87,01/01/10 0:00
31,13,Tea,Green Tea,Regular,Small Market,Central,Missouri,60,0,34,-4,76,46,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-320,294,-605,33,145,01/12/11 0:00
4227,11,Tea,Darjeeling,Regular,Small Market,West,Oregon,50,30,29,37,78,19,01/12/11 0:00
4229,13,Tea,Green Tea,Regular,Small Market,West,Oregon,230,100,134,180,341,65,01/12/11 0:00
4238,11,Tea,Darjeeling,Regular,Small Market,West,Washington,70,20,41,45,114,36,01/12/11 0:00
4240,13,Tea,Green Tea,Regular,Small Market,West,Washington,90,-10,55,-4,140,79,01/12/11 0:00

In [23]:
# Can do the same with the using an or statement as above
df.loc[(df['Product'] == 'Darjeeling') | (df['Product'] == 'Green Tea'), :]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
9,11,Tea,Darjeeling,Regular,Major Market,Central,Colorado,110,20,58,17,130,55,01/01/10 0:00
18,11,Tea,Darjeeling,Regular,Major Market,Central,Illinois,110,50,54,53,134,27,01/01/10 0:00
27,11,Tea,Darjeeling,Regular,Small Market,Central,Iowa,400,140,228,141,456,87,01/01/10 0:00
31,13,Tea,Green Tea,Regular,Small Market,Central,Missouri,60,0,34,-4,76,46,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4218,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-320,294,-605,33,145,01/12/11 0:00
4227,11,Tea,Darjeeling,Regular,Small Market,West,Oregon,50,30,29,37,78,19,01/12/11 0:00
4229,13,Tea,Green Tea,Regular,Small Market,West,Oregon,230,100,134,180,341,65,01/12/11 0:00
4238,11,Tea,Darjeeling,Regular,Small Market,West,Washington,70,20,41,45,114,36,01/12/11 0:00
4240,13,Tea,Green Tea,Regular,Small Market,West,Washington,90,-10,55,-4,140,79,01/12/11 0:00

In [24]:
# Show market size small market and in the south 
df.loc[(df['Market Size'] == 'Small Market') & (df['Market'] == 'South'),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
93,5,Espresso,Caffe Mocha,Regular,Small Market,South,Louisiana,150,80,67,70,180,43,01/01/10 0:00
94,6,Espresso,Decaf Espresso,Decaf,Small Market,South,Louisiana,120,50,61,48,150,41,01/01/10 0:00
95,8,Herbal Tea,Chamomile,Decaf,Small Market,South,Louisiana,100,40,49,35,112,28,01/01/10 0:00
96,9,Herbal Tea,Lemon,Decaf,Small Market,South,Louisiana,180,40,85,40,190,65,01/01/10 0:00
97,4,Espresso,Caffe Latte,Regular,Small Market,South,Louisiana,150,10,75,8,180,97,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4180,2,Coffee,Columbian,Regular,Small Market,South,Oklahoma,220,100,81,98,197,38,01/12/11 0:00
4181,3,Coffee,Decaf Irish Cream,Decaf,Small Market,South,Oklahoma,90,50,33,42,87,21,01/12/11 0:00
4182,4,Espresso,Caffe Latte,Regular,Small Market,South,Oklahoma,240,90,134,180,341,65,01/12/11 0:00
4183,5,Espresso,Caffe Mocha,Regular,Small Market,South,Oklahoma,50,20,29,36,78,20,01/12/11 0:00
4184,6,Espresso,Decaf Espresso,Decaf,Small Market,South,Oklahoma,170,60,88,107,236,61,01/12/11 0:00

In [25]:
# Show major markets in Nevada
df.loc[(df['Market Size'] == 'Major Market') & (df['State'] == 'Colorado'),:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
0,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,220,100,89,94,219,36,01/01/10 0:00
1,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,190,80,83,68,190,39,01/01/10 0:00
2,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,240,110,95,101,234,38,01/01/10 0:00
3,13,Tea,Green Tea,Regular,Major Market,Central,Colorado,80,30,44,30,100,26,01/01/10 0:00
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,170,90,54,79,142,26,01/12/11 0:00
4078,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Colorado,210,80,67,70,179,54,01/12/11 0:00
4079,1,Coffee,Amaretto,Regular,Major Market,Central,Colorado,290,130,123,199,322,45,01/12/11 0:00
4080,2,Coffee,Columbian,Regular,Major Market,Central,Colorado,90,30,43,43,106,27,01/12/11 0:00
4081,3,Coffee,Decaf Irish Cream,Decaf,Major Market,Central,Colorado,200,90,86,131,224,36,01/12/11 0:00

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4248 entries, 0 to 4247
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product Id      4248 non-null   int64
 1   Product Type    4248 non-null   object
 2   Product         4248 non-null   object
 3   Coffee Type     4248 non-null   object
 4   Market Size     4248 non-null   object
 5   Market          4248 non-null   object
 6   State           4248 non-null   object
 7   Budget Sales    4248 non-null   int64
 8   Budget Profit   4248 non-null   int64
 9   Cogs            4248 non-null   int64
 10  Profit          4248 non-null   int64
 11  Sales           4248 non-null   int64
 12  Total Expenses  4248 non-null   int64
 13  Date Time       4248 non-null   object
dtypes: int64(7), object(7)
memory usage: 464.8+ KB

In [27]:
df.dtypes

Product Id         int64
Product Type      object
Product           object
Coffee Type       object
Market Size       object
Market            object
State             object
Budget Sales       int64
Budget Profit      int64
Cogs               int64
Profit             int64
Sales              int64
Total Expenses     int64
Date Time         object
dtype: object

In [28]:
# Numerical Values
df.describe()

,Product Id,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses
count,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000,4248.000000
mean,6.887006,175.649718,60.913371,84.433145,61.097693,192.987524,54.063559
std,3.664072,148.891522,79.546123,67.249769,101.708546,151.133127,32.352598
min,1.000000,0.000000,-320.000000,0.000000,-638.000000,17.000000,10.000000
25%,4.000000,80.000000,20.000000,43.000000,17.000000,100.000000,33.000000
50%,6.000000,130.000000,40.000000,60.000000,40.000000,138.000000,46.000000
75%,10.000000,210.000000,80.000000,100.000000,92.000000,230.000000,65.000000
max,13.000000,1140.000000,560.000000,364.000000,778.000000,912.000000,190.000000

In [29]:
# Text values
df['State'].describe()

count     4248
unique      20
top       Utah
freq       288
Name: State, dtype: object

In [30]:
df['Market'].describe()

count        4248
unique          4
top       Central
freq         1344
Name: Market, dtype: object

In [31]:
df['Market Size'].describe()

count             4248
unique               2
top       Small Market
freq              2544
Name: Market Size, dtype: object

In [32]:
df['Product Type'].describe()

count         4248
unique           4
top       Espresso
freq          1176
Name: Product Type, dtype: object

In [33]:
df['Product'].describe()

count          4248
unique           13
top       Columbian
freq            480
Name: Product, dtype: object

In [34]:
df['Coffee Type'].describe()

count        4248
unique          2
top       Regular
freq         2400
Name: Coffee Type, dtype: object

In [35]:
df['Date Time'].describe()

count              4248
unique               24
top       01/01/10 0:00
freq                177
Name: Date Time, dtype: object

In [36]:
# Unique Function
# What are the Unique values?
df['Coffee Type'].unique()

array(['Regular', 'Decaf'], dtype=object)

In [37]:
df['Market Size'].unique()

array(['Major Market', 'Small Market'], dtype=object)

In [38]:
df['Market'].unique()

array(['Central', 'East', 'South', 'West'], dtype=object)

In [39]:
df['State'].unique()

array(['Colorado', 'Illinois', 'Iowa', 'Missouri', 'Ohio', 'Wisconsin',
       'Connecticut', 'Florida', 'Massachusetts', 'New Hampshire',
       'New York', 'Louisiana', 'New Mexico', 'Oklahoma', 'Texas', 'Utah',
       'California', 'Nevada', 'Oregon', 'Washington'], dtype=object)

In [40]:
df['Product Type'].unique()

array(['Coffee', 'Tea', 'Espresso', 'Herbal Tea'], dtype=object)

In [41]:
# How many Unique Values are there?
df['Coffee Type'].nunique()

2

In [42]:
df['Market Size'].nunique()

2

In [43]:
df['Market'].nunique()

4

In [44]:
df['State'].nunique()

20

In [45]:
df['Product Type'].nunique()

4

In [46]:
# value_counts() shows the amount of each value
df['Coffee Type'].value_counts()

Coffee Type
Regular    2400
Decaf      1848
Name: count, dtype: int64

In [47]:
df['Market Size'].value_counts()

Market Size
Small Market    2544
Major Market    1704
Name: count, dtype: int64

In [62]:
df['Product Type'].value_counts()

Product Type
Espresso      1176
Coffee        1056
Herbal Tea    1056
Tea            960
Name: count, dtype: int64

In [49]:
# Normalize shows the value count in 
df['Product Type'].value_counts(normalize = True)

Product Type
Espresso      0.276836
Coffee        0.248588
Herbal Tea    0.248588
Tea           0.225989
Name: proportion, dtype: float64

In [50]:
df['Market Size'].value_counts(normalize = True)

Market Size
Small Market    0.59887
Major Market    0.40113
Name: proportion, dtype: float64

In [51]:
# Descriptive Statistics
# What is the highest total expense?
df['Total Expenses'].max()

190

In [52]:
# What product is that?
df.loc[df['Total Expenses'] == 190,:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
1385,8,Herbal Tea,Chamomile,Decaf,Small Market,West,Nevada,360,70,173,49,412,190,01/08/10 0:00

In [53]:
# What is the lowest total expense?
df['Total Expenses'] .min()

10

In [54]:
df.loc[df['Total Expenses'] == 10,:]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
2910,13,Tea,Green Tea,Regular,Small Market,East,New Hampshire,40,30,0,44,43,10,01/05/11 0:00
3087,13,Tea,Green Tea,Regular,Small Market,East,New Hampshire,40,30,0,44,43,10,01/06/11 0:00
3339,4,Espresso,Caffe Latte,Regular,Small Market,West,Nevada,40,30,0,44,43,10,01/07/11 0:00
3516,4,Espresso,Caffe Latte,Regular,Small Market,West,Nevada,40,30,0,44,43,10,01/08/11 0:00

In [55]:
# What is the average total expense?
df['Total Expenses'].mean()

54.063559322033896

In [56]:
# What is the median total expense?
df['Total Expenses'].median()

46.0

In [57]:
df.groupby('Product')['Total Expenses'].mean()

Product
Amaretto             46.338542
Caffe Latte          48.375000
Caffe Mocha          63.264583
Chamomile            52.510417
Columbian            65.360417
Darjeeling           44.783854
Decaf Espresso       46.367647
Decaf Irish Cream    51.445312
Earl Grey            58.736111
Green Tea            45.510417
Lemon                57.804167
Mint                 51.583333
Regular Espresso     67.625000
Name: Total Expenses, dtype: float64

In [58]:
df.sort_values(by = 'Profit', ascending = False)

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time
3263,2,Coffee,Columbian,Regular,Major Market,East,Massachusetts,630,560,52,778,659,46,01/07/11 0:00
3440,2,Coffee,Columbian,Regular,Major Market,East,Massachusetts,630,560,52,777,658,46,01/08/11 0:00
3084,2,Coffee,Columbian,Regular,Major Market,East,Massachusetts,610,530,54,755,643,45,01/06/11 0:00
3617,2,Coffee,Columbian,Regular,Major Market,East,Massachusetts,540,460,60,690,614,51,01/09/11 0:00
3808,7,Espresso,Regular Espresso,Regular,Major Market,East,New York,720,450,239,646,815,91,01/10/11 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-250,260,-542,28,131,01/04/11 0:00
2274,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-240,245,-552,19,132,01/01/11 0:00
3510,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-260,284,-558,21,131,01/08/11 0:00
4218,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-320,294,-605,33,145,01/12/11 0:00
3687,13,Tea,Green Tea,Regular,Small Market,West,Nevada,0,-280,302,-638,20,147,01/09/11 0:00

In [65]:
# Filter dataframe where Product type is Espresso
df.loc[df['Product Type'].str.contains('Espresso', na = False)]

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time,Date
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00,01/01/10 0:00
5,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Colorado,210,80,72,53,180,55,01/01/10 0:00,01/01/10 0:00
13,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Illinois,640,260,234,203,546,109,01/01/10 0:00,01/01/10 0:00
14,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Illinois,530,180,228,140,456,88,01/01/10 0:00,01/01/10 0:00
23,5,Espresso,Caffe Mocha,Regular,Small Market,Central,Iowa,50,30,17,11,43,15,01/01/10 0:00,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,5,Espresso,Caffe Mocha,Regular,Small Market,West,Oregon,120,40,54,42,135,45,01/12/11 0:00,01/12/11 0:00
4234,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Oregon,290,80,153,129,326,66,01/12/11 0:00,01/12/11 0:00
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00,01/12/11 0:00

In [66]:
df.loc[df['Product Type'] == 'Espresso']

,Product Id,Product Type,Product,Coffee Type,Market Size,Market,State,Budget Sales,Budget Profit,Cogs,Profit,Sales,Total Expenses,Date Time,Date
4,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Colorado,150,70,54,54,134,26,01/01/10 0:00,01/01/10 0:00
5,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Colorado,210,80,72,53,180,55,01/01/10 0:00,01/01/10 0:00
13,5,Espresso,Caffe Mocha,Regular,Major Market,Central,Illinois,640,260,234,203,546,109,01/01/10 0:00,01/01/10 0:00
14,6,Espresso,Decaf Espresso,Decaf,Major Market,Central,Illinois,530,180,228,140,456,88,01/01/10 0:00,01/01/10 0:00
23,5,Espresso,Caffe Mocha,Regular,Small Market,Central,Iowa,50,30,17,11,43,15,01/01/10 0:00,01/01/10 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,5,Espresso,Caffe Mocha,Regular,Small Market,West,Oregon,120,40,54,42,135,45,01/12/11 0:00,01/12/11 0:00
4234,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Oregon,290,80,153,129,326,66,01/12/11 0:00,01/12/11 0:00
4243,4,Espresso,Caffe Latte,Regular,Small Market,West,Washington,50,20,24,19,60,19,01/12/11 0:00,01/12/11 0:00
4244,5,Espresso,Caffe Mocha,Regular,Small Market,West,Washington,140,30,65,34,155,57,01/12/11 0:00,01/12/11 0:00
4245,6,Espresso,Decaf Espresso,Decaf,Small Market,West,Washington,170,60,80,76,188,45,01/12/11 0:00,01/12/11 0:00

In [67]:
# describe on object columns
df.describe(include = 'O')

,Product Type,Product,Coffee Type,Market Size,Market,State,Date Time,Date
count,4248,4248,4248,4248,4248,4248,4248,4248
unique,4,13,2,2,4,20,24,24
top,Espresso,Columbian,Regular,Small Market,Central,Utah,01/01/10 0:00,01/01/10 0:00
freq,1176,480,2400,2544,1344,288,177,177

In [68]:
# What is the average total expense by market?
df.groupby('Market')['Total Expenses'].mean()

Market
Central    51.363839
East       56.433559
South      46.133929
West       59.162202
Name: Total Expenses, dtype: float64

In [70]:
# sort values
df.groupby('Market')['Total Expenses'].mean().sort_values()

Market
South      46.133929
Central    51.363839
East       56.433559
West       59.162202
Name: Total Expenses, dtype: float64

In [72]:
# sort values in descending order
df.groupby('Market')['Total Expenses'].mean().sort_values(ascending = False)

Market
West       59.162202
East       56.433559
Central    51.363839
South      46.133929
Name: Total Expenses, dtype: float64

In [74]:
# using describe on each total expense by market
df.groupby('Market')['Total Expenses'].describe()

          count       mean        std   min   25%   50%   75%    max
Market
Central  1344.0  51.363839  28.037273  11.0  33.0  45.0  63.0  149.0
East      888.0  56.433559  36.006452  10.0  32.0  48.0  69.0  189.0
South     672.0  46.133929  23.670677  14.0  30.0  41.0  55.0  150.0
West     1344.0  59.162202  36.320681  10.0  35.0  47.0  73.0  190.0

In [ ]:
df.groupby('Market')['Total Expenses'].agg(